@charset "utf-8";

// Custom Fonts
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/poppins-v20-latin-regular.eot);
  src: url(/assets/poppins-v20-latin-regular.eot?#iefix) format('embedded-opentype');
  src: url('https://slutares.sirv.com/fonts/poppins-v20-latin/poppins-v20-latin-regular.woff') format('woff2'), /* Super Modern Browsers */
       url('https://slutares.sirv.com/fonts/poppins-v20-latin/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://slutares.sirv.com/fonts/poppins-v20-latin/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://slutares.sirv.com/fonts/poppins-v20-latin/poppins-v20-latin-regular.svg#poppins') format('svg');
};

@import "variables",
        "404",
        "base",
        "blog",
        "docs",
        "footer",
        "landing",
        "navbar",
        "markdown",
        "projects",
        "timeline",
        "autumn",
        "theme",
        "theme-dark";